* {
    box-sizing: border-box;
}

h1{
    color: red;
}

.ioSlot {
    border: 1px solid green;
    display: inline-block;
    /*width: 150px;*/
}

.ioWord {
    font-size: 0;
    display: block;
    border: 1px solid red;
}

.ioTerminalInput {
    font-size: 14px;
    text-align: center;
    display: inline-block;
    max-width: 13px;
    padding: 0;
    border: .5px solid grey;
/*display: block;*/
    /*width: 20px;*/
    /*border: 1px solid blue;*/
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}
.ioTableRow {

}

.ioTableData {
    font-size: 0;
    padding: 2px;
}

.forcedTerminal {
    background-color: red;
    color: white;
}

.lockedTerminal, .lockedTerminal.activeTerminal {
    background-color: #11557C;
    color: white;
}

.activeTerminal{
    background-color: #3A7734;
    color: white;
}

.inactiveTerminal{
    background-color: #555555;
    color: white;
}

input[type='number'].ioTerminalInput {
    -moz-appearance: textfield;

}
input[type='number'].ioTerminalInput::-webkit-inner-spin-button,
input[type='number'].ioTerminalInput::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.ioDisplay {
    display: inline-block;
}