{% extends "layout.html" %}
{% block body %}
    <h1>Allen-Bradley PLC</h1>


    <div class="ioDisplay">
        <h2>Inputs</h2>
        <table>
            <tbody>
                <tr>
                    <th colspan="2"></th>
                    <th colspan="{{ wordCount }}">Words</th>
                </tr>
                <tr>
                    <th>Slot #</th>
                    <th>Terminals</th>
                {% for word in range(0,1) %}
                    <th>{{ word }}</th>
                {% endfor %}
                </tr>
                {% for slot in range(1,slotCount) %}
                    <tr class="ioTableRow" name="{{ slot }}">
                        <td name="">{{ slot }}
                            <a onclick="hideRow" >(Hide)</a>
                        </td>
                        <td>
                            T(0-7)
                            <br/>
                            T(8-15)
                        </td>
                    {% for word in range(0,1) %}
                        <td class="ioTableData" name="{{ slot }}-{{ word }}">
                        {% for terminal in range(0,terminalCount) %}
                            <input class="ioTerminalInput" id="Input-{{ slot }}-{{ word }}-{{ terminal }}"
                                   type="number" value="0" min="0" max="1"
                                   onfocusin="lockTerminal(this)" onfocusout="unlockTerminal(this)"
                                    oninput="forceTerminalInput(this)"/>
                            {% if terminal % 8 == 7 %}
                                <br/>
                            {% endif %}
                        {% endfor %}
                        </td>
                    {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>

    <div class="ioDisplay">
        <h2>Outputs</h2>
        <table>
            <tbody>
                <tr>
                    <th colspan="2"></th>
                    <th colspan="{{ wordCount }}">Words</th>
                </tr>
                <tr>
                    <th>Slot #</th>
                    <th>Terminals</th>
                {% for word in range(0,1) %}
                    <th>{{ word }}</th>
                {% endfor %}
                </tr>
                {% for slot in range(1,slotCount) %}
                    <tr class="ioTableRow" name="{{ slot }}">
                        <td name="">{{ slot }}
                            <a onclick="hideRow" >(Hide)</a>
                        </td>
                        <td>
                            T(0-7)
                            <br/>
                            T(8-15)
                        </td>
                    {% for word in range(0,1) %}
                        <td class="ioTableData" name="{{ slot }}-{{ word }}">
                        {% for terminal in range(0,terminalCount) %}
                            <input class="ioTerminalInput" id="Output-{{ slot }}-{{ word }}-{{ terminal }}"
                                   type="number" value="0" min="0" max="1"
                                   onfocusin="lockTerminal(this)" onfocusout="unlockTerminal(this)"
                                    oninput="forceTerminalInput(this)"
                                    onkeydown="exitOnEnter(this)"/>
                            {% if terminal % 8 == 7 %}
                                <br/>
                            {% endif %}
                        {% endfor %}
                        </td>
                    {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
{% endblock %}